*{ box-sizing: border-box; }
.container{
 background-color: lightgray;
 width: 100%;
 height: auto;
}
.header{
 width: 80%;
 margin: 1em auto;
 box-shadow: 5px 5px 5px black;
 padding: 20px;
 font-size: 30px;
 font-weight: 600;
 text-align: center;
 background-color: white;}

 .pos{
    position: absolute;
    top: 55%;
    left: 9%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    border: ridge whitesmoke;
    color: black;
    text-align:left;
    padding:8px;
    font-size:15px;

}
    .pos2{
        position: absolute;
        text-align: center;
        top: 35%;
        left: 40%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.3);
        color: azure;
        box-shadow: 0px 0px 5px 10px blue;
        padding: 20px;
    }
    .pos3{
        position: absolute;
        text-align: center;
        top: 55%;
        left: 70%;
        width: 20%;
        color: palegreen;
        text-align:left;
        padding:8px;
        font-size:15px;

    }
    .paragraph1{
        opacity:.8;
    }
    .paragraph2{
       color: burlywood; 
       opacity:.6;
    }
    .paraBali{
        position: absolute;
        bottom: 50%;
        top: 100%;
        left:15%;
        width: 100%;
        opacity: .8;
        text-align: left;
        font-size: 1em;
    }
    .paraBali1{
            position: absolute;
            bottom: 240%;
            opacity: .6;
            text-align: right;
            font-size: 1em;
        }
    .paraBali2{
            top: 10%;
            opacity:.4;}
    .heroText{
            position: absolute;
            bottom: 100%;
            left: 30%;
            width: 20%;
            color: blueviolet;
            text-align: center;
}
    a[href] {
        color: #00FFFF;
        background-color: azure;
        border-radius: 10px;
        padding:10px;
      }
      a[href]:hover{
        background-color:crimson;
        color: whitesmoke;
        border:solid 1px;
    }
.image1,.image2,.image3{
 margin: 2%;
 position: relative;
 height: 500px;
 width: 390px;
}
    .image1{
        filter: invert(100%);
    }
    .image2{
        filter: blur(3px);
    }
    .image3{
        filter: sepia(50%);
    }